/* ====================================
		MODULE: FORM
 * ==================================== */
form,
.form {
	flex: 1;
	padding: 1rem;
	margin: 1rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: stretch;
	position: relative;
}

.fieldset {
	@extend %row;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.field-group {
	@extend %col;
	position: relative;
	padding: 0.5rem;
	padding-top: 1rem;
	margin: 0;
}

@for $i from 1 through $max-columns {
	// rowcolwidths & colwidths are lists built from max-columns (default: 12)
	// in order to assume mobile-sizing first, divide by 2 (default result: 6)

	.fieldset#{$i} > .form-group {
		flex: 1 0 (nth($rowcolwidths, $i) / 2);
		max-width: (nth($rowcolwidths, $i) / 2);
	}

	.width-#{$i} {
		flex: 1 0 (nth($colwidths, $i) / 2);
		max-width: (nth($colwidths, $i) / 2);
	}
}