$body--bg-color: getColor('neutral-100');

body {
	background-color: $body--bg-color;
	color: getContrast($body--bg-color);
}

header {
	position: fixed;
	background-color: getColor('neutral-700');
	color: getContrast(getColor('neutral-700'));
	background: url('../images/headerBG3.png') no-repeat;
	background-position: top;
	height: 22rem;
	overflow: hidden;
	padding-top: 10rem;
	padding-bottom: 3rem;
	z-index: 50;
	border-bottom: 1rem solid getColor('neutral-700');

	#pears-lime {
		position: absolute;
		bottom: 1rem;
	}
}

.site-title { 
	font-size: 4rem; 
	line-height: 4rem;

	.ampersand {
		display: block;
		margin: 0 auto;
		color: getColor('primary-split1-300');
	} 
}

#page-container {
	grid-template-rows: 3.5fr 2fr;

	& main { margin-top: 24rem; }
}

.column > .col { padding: 0; }

.container { 
	position: relative;
	max-width: 100vw;
	width: 480px;
}

h2 { font-size: 3.5rem; }

$fes-height: 22rem;

#find, #explore, #submit {
	// position: relative;
	display: flex;
	flex-flow: row nowrap;
	content: "";
	height: $fes-height;
	padding: 0;

	h2 {
		position: absolute;
		z-index: 10;
		margin-left: 0;
		margin-top: 5.5rem;
		padding: 1rem 1rem 2rem 2rem;
		max-width: 90%;

		span { margin-left: 6rem; }
	}

	img {
		position: absolute;
		z-index: -10;
		height: $fes-height;
		width: auto;
	}

}

#find h2, #submit h2 {
	left: 0;
}

@function headerGradient($direction, $color) {
	$clr100: getRGBA($color, 100%);
	$clr0: getRGBA($color, 0%);

	@return linear-gradient( to $direction, $clr100 81%, $clr100 85%, $clr0 85%, $clr0 87%, $clr100 87%, $clr100 91%, $clr0 91%, $clr0 93%, $clr100 93%, $clr100 96%, $clr0 96%, $clr0 98%, $clr100 98%);
}

#find {
	justify-content: left;

	$color: getColor('primary-500');

	h2 {
		background: headerGradient(right, $color);
		color: getContrast($color);
	}

	img { right: -25%; }
}

#explore {
	justify-content: right;
	$color: getColor('accent-400');

	h2 {
		background: headerGradient(left, $color);
		color: getContrast($color);
		right: -10px;
		padding-left: 5.5rem;
	}

	img { left: -45%; }
}

#submit {
	justify-content: left;
	$color: getColor('secondary-400');
	margin-bottom: 1rem;

	h2 {
		background: headerGradient(right, $color);
		color: getContrast($color);
	}

	img { right: -35%; height: $fes-height + 2; }

}

#cocktails,
#contact {
	.container {
		margin: 0 auto;
	}
}

#cocktails {
	$color: getColor('tertiary-500');
	background-color: $color;
	color: getContrast($color);
	text-align: center;
	margin-top: 6rem;

	.container {
		max-height: 20rem;
		margin: 0 auto;
	}

	img {
		position: absolute;
		top: -64%;
		left: 37%;
		margin: 0 auto;
		max-width: 33%;
		height: auto;
	}

	h3 { 
		font-family: map-get($fonts, 'title'); 
		font-size: 3rem;
		padding-top: 3.25rem;
	}
}

#contact {
	background-color: getColor('neutral-700');
	color: getContrast(getColor('neutral-700'));
	text-align: center;

	.fieldset {
		flex-flow: column nowrap;
	}

	.field-group {
		width: 80%;
	}
}

footer.copyright {
	background-color: getColor('neutral-800');
	color: getContrast(getColor('neutral-800'));
	text-align: center;
}

@include mq($from: 'tablet') {
	#pears-lime {
		display: inline-block;
		margin: 0 auto;
		padding: 0;

		& img {
			max-height: 8rem;
			width: auto;
		}
	}

	#cocktails {
		display: flex;
		flex-flow: column nowrap;

		.container {
			max-width: 70%;
			margin: 0 auto;
			display: block;
		}
	}
}

@include mq($from: 'mobileLandscape') {
	#contact .container { 
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#contact .field-group {
		width: 100%;
	}

	#contact .fieldset:first-child {
		padding-top: 1rem;
	}

	#contact textarea {
		width: 100%;
		height: 4rem;
	}
}