header {
	position: fixed;
	background-color: $header--bg-color;
	color: getContrast(getColor('neutral-700'));
	background: url('../images/headerBG3.png') no-repeat;
	background-position: top;
	height: 22rem;
	overflow: hidden;
	padding-top: 10rem;
	padding-bottom: 3rem;
	z-index: 50;
	border-bottom: 1rem solid getColor('neutral-700');

	#pears-lime {
		position: absolute;
		bottom: 1rem;
	}
}

h2 { font-size: 3.5rem; }

.site-title { 
	font-size: 4rem; 
	line-height: 4rem;

	.ampersand {
		display: block;
		margin: 0 auto;
		color: getColor('primary-split1-300');
	} 
}