.image-list {
	position: absolute;
	z-index: -10;
	height: $main-sections--height;
	width: 480px;
	transition: all .3s ease-out;

	img { 
		position: absolute;
		height: $main-sections--height; 
		width: auto;
		display: inline-block;
	}

	&--right {
		left: $img-offset + 15;
		
		$img-offset-increment: $img-offset;
		@for $i from 2 through 6 {
			& img:nth-child(#{$i}) {
				@if $i >= 2 { left: $img-offset-increment; }
				z-index: -20 - $i;
			}
			$img-offset-increment: $img-offset-increment * 1.55;
		}
	}

	&--left {
		right: $img-offset + 10;

		img:nth-child(1) {
			right: 5%;
		}
		
		$img-offset-increment: $img-offset;
		@for $i from 2 through 6 {
			& img:nth-child(#{$i}) {
				@if $i == 3 {
					right: $img-offset-increment;
				} @else {
					right: $img-offset-increment + 5;
				}
		
				z-index: -20 - $i;
			}
			$img-offset-increment: $img-offset-increment * 1.5;
		}
	}
}

#find .rotate { transform: rotateZ(-55deg); }
#explore .rotate { transform: rotateZ(15deg); }