/* ====================================
		MODULES: MEDIA QUERIES
 * ==================================== */

/* ====================================
		XS - mobile (>= 414px)
 * ==================================== */
@include mq($from: 'mobile') {
	@for $i from 1 through $max-columns {
		$colwidth: nth($colwidths, $i);

		@if($i < 6) { $colwidth: $colwidth * 2; }

		.width-xs-#{$i} {
			// flex: 1 0 $colwidth;
			max-width: $colwidth;
			min-width: $colwidth;
		}
	}
}

/* ====================================
		SM - mobileLandscape (>=736px)
 * ==================================== */
@include mq($from: 'mobileLandscape') {

	@for $i from 1 through $max-columns {
		$colwidth: nth($colwidths, $i);

		@if($i < 6) { $colwidth: $colwidth * 2; }

		.width-sm-#{$i} {
			// flex: 1 0 $colwidth;
			max-width: $colwidth;
			min-width: $colwidth;
		}
	}

	textarea {
		height: 10rem;
	}

	#explore h2 { padding-left: 7.5rem; }

	#cocktails {
		margin-top: 4rem;
	}

	#contact .container { 
		width: 90vw;
		display: grid;
		grid-template-columns: 1fr 1.5fr;
	}

	#contact .field-group {
		width: 100%;
	}

	#contact .fieldset:first-child {
		padding-bottom: 2rem;
		justify-content: flex-start;
	}
}

/* ====================================
		MD - tablet (>=1024px)
 * ==================================== */
@include mq($from: 'tablet') {

	#explore h2 { padding-left: 12rem; }

	#pears-lime {
		text-align: right;
	}

}

/* ====================================
		LG - desktop (>= 1280px)
 * ==================================== */
@include mq($from: 'desktop') {
	@for $i from 1 through $max-columns {
		.width-lg-#{$i} {
			// flex: 1 0 nth($colwidths, $i);
			max-width: nth($colwidths, $i);
			min-width: nth($colwidths, $i);
		}
	}

	#page-container main { margin-top: 28rem; }

	.row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-bottom: 4rem;

		.col { 
			flex: 1 0 45%;
			max-width: 45%;
			margin-top: 0;
		}
	}


	#find .image-list--right { left: -25; }
	#explore .image-list--left { right: -25; }

	#submit {
		margin-bottom: 0;

		h2 {
			background: headerGradient(right, $submit-h2--color, true);
			padding-left: 13rem;
			min-width: 50%;
			width: 50%;
			left: 23%;
		}

		.container {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
		}

		.image-list--right {
			flex: 1;
			left: auto;
			display: block;
			margin: 0 auto;
			margin-left: -20%;
		}
	}

	#cocktails {
		margin-top: 8rem;
	}
}

/* ====================================
		XL - widescreen (>= 1920)
 * ==================================== */
@include mq($from: 'wide') {
	@for $i from 1 through $max-columns {
		.width-xl-#{$i} {
			// flex: 1 0 nth($colwidths, $i);
			max-width: nth($colwidths, $i);
			min-width: nth($colwidths, $i);
		}
	}
}