$body--bg-color: getColor('neutral-100');
$main-sections--height: 22rem;

$header--bg-color: getColor('neutral-700');

$img-offset: 35%;
$img-offset-increment: $img-offset;

$submit-h2--color: getColor('secondary-400');